<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h1>
    UUID Generator
  </h1>

  <!-- <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Version</th>
        <th>Value</th>
        <th>&#160;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>V1</th>
        <td>{{ uuidV1 }}</td>
        <td> <button type="button" class="btn btn-primary"
            (click)="getNewGuidV1()">Get New V1</button></td>
      </tr>
      <tr>
        <th>V4</th>
        <td>{{ uuidV4 }}</td>
        <td> <button type="button" class="btn btn-primary"
            (click)="getNewGuidV4()">Get New V4</button></td>
      </tr>
    </tbody>
  </table>


  <p>Here are some relevant links:</p>

  <ul>
    <li>
      <a target="_blank" rel="noopener"
        href="https://en.wikipedia.org/wiki/Uuid">uuid wikipedia page</a>
    </li>
    <li>
      <a target="_blank" rel="noopener"
        href="https://www.npmjs.com/package/uuid">uuid npm package</a>
    </li>
    <li>
      <a target="_blank" rel="noopener"
        href="https://www.npmjs.com/package/@types/uuid">Typescript types for
        uuid</a>
    </li>
  </ul>
</div>
